layout {
    gaps 10
    center-focused-column "always"
    border {
        off
    }
    focus-ring {
        off
    }
    background-color "transparent"
    default-column-width {
        proportion 0.95
    }
}

