.config/mpv/scripts/mpv-discordRPC/catalogs.lua
.config/btop/themes/
.config/cava/themes/noctalia
.config/kitty/kitty.conf.bak
.config/kitty/themes/
.config/niri/noctalia.kdl
.config/nvim/lazy-lock.json
