[submodule ".config/yazi/plugins/clipboard.yazi"]
	path = .config/yazi/plugins/clipboard.yazi
	url = https://gitee.com/DreamMaoMao/clipboard.yazi

[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/Deprecatism/ElyVim
